@import url("fonts.css");
*,
*:before,
*:active {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
    font-weight: 400;
    color: #424242;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #424242;
}

$mobileWidth: 576px;
$tabledWidth: 769px;

$container: 1369px;
$mainGreen: #01996d;
$bgGreen: #245852;

body {
    font-size: 1.25rem;
}

body._lock {
    overflow: hidden;
}

//Main Styles

.container {
    max-width: $container - 15px;
    margin: 0 auto;
    padding: 15px;
}

.btn {
    background-color: $mainGreen;
    padding: 1.05rem 3.125rem;
    border-radius: 4px;
    color: white;
}

//Header

.header {
    &__container {
        display: flex;
        align-items: center;
    }
    // .header__logo
    &__logo {
        position: relative;
        z-index: 3;
        font-family: "Avenir";
        color: $mainGreen;
        font-weight: 900;
        font-size: 25px;
        margin-right: 172px;
        @media screen and (max-width: $container) {
            margin-right: calc(30px + (172 - 30) * ((100vw - 768px) / (1359 - 768)));
        }
    }

    // .header__nav

    &__nav {
        ul {
            display: flex;
            li {
                display: inline;
                white-space: nowrap;
            }
            li:not(:last-child) {
                margin-right: 72px;
                @media screen and (max-width: $container) {
                    margin-right: calc(10px + (72 - 10) * ((100vw - 768px) / (1359 - 768)));
                }
            }
        }
        @media screen and (max-width: $tabledWidth) {
            display: none;
        }
    }

    // .header__user

    &__user {
        position: relative;
        z-index: 3;
        margin-right: 0;
        margin-left: auto;
        display: flex;
        align-items: center;
        white-space: nowrap;
        a:first-child {
            margin-right: 32px;
            @media screen and (max-width: $container) {
                margin-right: calc(10px + (32 - 10) * ((100vw - 768px) / (1359 - 768)));
            }
        }
        @media screen and (max-width: $mobileWidth) {
            display: none;
        }
    }

    &__mobile {
        position: fixed;
        top: 0;
        left: -100%;
        padding: 120px 10px;
        z-index: 2;
        height: 100vh;
        width: 100vw;
        background-color: rgba(34, 60, 80, 0.8);
        overflow: auto;
        transition: left 0.3s ease 0s;
    }
    &__icon {
        margin-left: 40px;
        margin-right: 0;
        width: 30px;
        height: 20px;
        position: relative;
        z-index: 3;
        @media screen and (min-width: $tabledWidth) {
            display: none;
        }
        @media screen and (max-width: $mobileWidth) {
            margin-left: auto;
        }
    }
}

.menu-icon {
    padding: 10px;
    &:hover{
        cursor: pointer;
    }
    & span,
    &::before,
    &::after {
        position: absolute;
        left: 0;
        width: 100%;
        height: 15%;
        background-color: $bgGreen;
        transition: all 0.5s ease 0s;
    }
    &::before,
    &::after {
        content: "";
    }
    & span {
        top: 50%;
        transform: scale(1) translateY(-50%);
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }

    &._active span {
        top: 50%;
        transform: scale(0) translateY(-50%);
    }
    &._active::before {
        top: 50%;
        transform: rotate(-45deg) translateY(-50%);
    }
    &._active::after {
        bottom: 50%;
        transform: rotate(45deg) translateY(50%);
    }
}

.mobile-header {
    &._active {
        left: 0;
    }
    // .mobile-header__nav
    @media screen and (min-width: $tabledWidth) {
        display: none;
    }
    text-align: center;
    &__nav {
        margin-bottom: 50px;
        & ul li:not(:last-child) {
            margin-bottom: 15px;
        }
        & ul li a {
            font-size: 2rem;
            color: white;
        }
    }

    // .mobile-header__user

    &__user {
        margin: 0 auto;
        align-items: center;
        max-width: 320px;
        display: flex;
        row-gap: 15px;
        flex-direction: column;
        & a {
            color: white;
        }
        @media screen and (max-width: $tabledWidth) {
            display: none;
        }
        @media screen and (max-width: $mobileWidth) {
            display: flex;
        }
    }
    &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        z-index: 5;
        height: 90px;
        background-color: white;
        @media screen and (max-width: $mobileWidth) {
            height: 60px;
        }
    }
}

//Banner

.banner {
    background-image: url("../../assets/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 169px;
    @media screen and (max-width: $container) {
        margin-bottom: calc(50px + (169 - 50) * ((100vw - 320px) / (1359 - 320)));
    }
    // .banner__info
    &__info {
        margin-top: 175px;
        margin-bottom: 336px;
        @media screen and (max-width: $container) {
            margin-top: calc(50px + (175 - 50) * ((100vw - 320px) / (1359 - 320)));
            margin-bottom: calc(100px + (336 - 100) * ((100vw - 320px) / (1359 - 320)));
        }
    }
}
.banner-info {
    display: flex;
    flex-direction: column;
    // .banner-info__title
    &__title {
        h1 {
            max-width: 440px;
            color: $mainGreen;
            font-family: "Georgia";
            font-weight: 700;
            font-size: 65px;
            line-height: 74px;
        }
        margin-bottom: 30px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(10px + (30 - 10) * ((100vw - 320px) / (1359 - 320)));
        }
    }

    // .banner-info__description
    &__description {
        max-width: 420px;
        line-height: 31px;
        margin-bottom: 60px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(25px + (60 - 25) * ((100vw - 320px) / (1359 - 320)));
        }
    }
}

//Description Section

.description {
    // .description__title

    &__container {
        padding: 30px;
        @media screen and (max-width: 350px) {
            padding: 8px;
        }
    }

    &__title {
        margin-bottom: 156px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(80px + (156 - 80) * ((100vw - 320px) / (1359 - 320)));
        }
    }
}
.title-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    // .title-description__item
    &__item {
        flex-basis: 50%;
        @media screen and (max-width: $tabledWidth) {
            flex-basis: 100%;
        }
    }
}
.item-description {
    // .item-description__header

    &__header {
        font-size: 1.5rem;
        line-height: 157%;
        font-weight: 600;
    }

    // .item-description__title
    &__title h3 {
        font-family: "Georgia";
        font-weight: 700;
        font-size: 3.125rem;
        color: $mainGreen;
        @media screen and (max-width: $tabledWidth) {
            margin-bottom: 10px;
        }
    }

    // .item-description__text

    &__text {
        line-height: 150%;
        font-weight: 500;
    }
}
.cards-description {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 70px;
    row-gap: 70px;
    @media screen and (max-width: $container) {
        column-gap: calc(5px + (70 - 5) * ((100vw - 320px) / (1359 - 320)));
    }
    @media screen and (max-width: 1272px) {
        align-items: flex-end;
    }
    // .cards-description__item
    &__item {
        max-width: calc(33.3333% - 70px);
        @media screen and (max-width: 1272px) {
            max-width: calc(50% - 70px);
        }
        @media screen and (max-width: 900px) {
            max-width: calc(100% - 70px);
        }
        @media screen and (min-width: 1272px) {
            &:nth-child(2) {
                margin-top: 205px;
            }
        }
    }
}

.card-item {
    // .card-item__header

    &__header {
        text-align: center;
        margin-bottom: 55px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(5px + (55 - 5) * ((100vw - 320px) / (1359 - 320)));
        }
        h4 {
            display: inline;
            font-family: "Georgia";
            line-height: 150%;
            font-weight: 700;
            font-size: 1.875rem;
            position: relative;
            &::before {
                position: absolute;
                top: -150%;

                font-family: "Georgia";
                font-size: 9.375rem;
                color: $mainGreen;
                opacity: 0.2;
            }
        }
    }

    &__header_one h4::before {
        content: "01";
        left: -40%;
        @media screen and (max-width: 350px) {
            left: -20%;
        }
    }

    &__header_two h4::before {
        content: "02";
        left: -5%;
        @media screen and (max-width: 430px) {
            left: -50%;
            top: -20%;
        }
    }

    &__header_three h4::before {
        content: "03";
        left: -120%;
        @media screen and (max-width: 350px) {
            left: -80%;
        }
    }

    // .card-item__text

    &__text {
        margin-bottom: 60px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(5px + (60 - 5) * ((100vw - 320px) / (1359 - 320)));
        }
    }

    // .card-item__picture

    &__picture {
        & img {
            width: 100%;
            object-fit: cover;
        }
    }
}

//Video Section

.video {
    background-color: $bgGreen;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 229px 216px;
    margin-bottom: 120px;
    @media screen and (max-width: 1507px) {
        padding: calc(20px + (229 - 50) * ((100vw - 1024px) / (1507 - 1024)))
            calc(20px + (216 - 50) * ((100vw - 1024px) / (1507 - 1024)));
        margin-bottom: calc(80px + (120 - 80) * ((100vw - 1024px) / (1507 - 1024)));
    }
    @media screen and (max-width: 1024px) {
        padding: 10px;
    }
    // .video__description
    &__description {
        flex-basis: 35%;
        @media screen and (max-width: 1024px) {
            flex-basis: 100%;
            margin-bottom: 50px;
            text-align: center;
        }
    }

    // .video__playback
    &__playback {
        flex-basis: 65%;
        @media screen and (max-width: 1024px) {
            flex-basis: 100%;
        }
    }
}
.description-video {
    // .description-video__title

    &__title {
        max-width: 584px;
        padding-right: 10px;
        @media screen and (max-width: 1024px) {
            max-width: 100%;
        }
        h3 {
            color: white;
            font-size: 3.125rem;
            line-height: 157%;
            font-family: "Georgia";
            font-weight: 700;
            margin-bottom: 59px;
            @media screen and (max-width: $container) {
                margin-bottom: calc(5px + (59 - 5) * ((100vw - 320px) / (1359 - 320)));
            }
            @media screen and (max-width: $mobileWidth) {
                font-size: 2rem;
            }
        }
    }

    // .description-video__text

    &__text {
        color: white;
        line-height: 157%;
        font-weight: 400;
        letter-spacing: 1.4px;
        margin-bottom: 57px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(25px + (57 - 25) * ((100vw - 320px) / (1359 - 320)));
        }
    }
}
.playback-video {
    // .playback-video__btn
    background-image: url("../../assets/videobg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 516px;
    @media screen and (max-width: $container) {
        height: calc(200px + (516 - 200) * ((100vw - 320px) / (1359 - 320)));
    }
    &__btn {
    }
}

//Product Person

.product {
    margin-bottom: 235px;
    @media screen and (max-width: $container) {
        margin-bottom: calc(185px + (235 - 185) * ((100vw - 320px) / (1359 - 320)));
    }
    @media screen and (max-width: $mobileWidth) {
        margin-bottom: 380px;
    }
}
.product-container {
    display: flex;
    column-gap: 50px;
    @media screen and (max-width: 1024px) {
        row-gap: 40px;
        flex-wrap: wrap;
    }
    // .product-container__picture
    &__picture {
        flex-basis: 50%;
        @media screen and (max-width: 1024px) {
            justify-content: center;
            flex-basis: 100%;
            order: 2;
        }
    }

    // .product-container__description

    &__description {
        flex-basis: 50%;
        @media screen and (max-width: 1024px) {
            text-align: center;
            flex-basis: 100%;
            order: 1;
        }
    }
}
.product-picture {
    // .product-picture__image
    padding: 0 15px;
    &__image {
        margin-left: 50px;
        position: relative;
        @media screen and (max-width: $mobileWidth) {
            margin-left: 0;
        }
        & img {
            width: 100%;
        }
    }

    // .product-picture__cart

    &__cart {
        position: absolute;
        top: 75%;
        left: -68px;
        @media screen and (max-width: $mobileWidth) {
            left: 50%;
            transform: translateX(-50%);
            top: 80%;
        }
    }
}
.product-cart {
    // .product-cart__title
    -webkit-box-shadow: 0px 0px 45px -6px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 45px -6px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 45px -6px rgba(34, 60, 80, 0.2);
    border-radius: 3.72971px;
    background-color: white;
    padding: 22px 61px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $container) and (min-width: 1023px) {
        padding: calc(10px + (22 - 10) * ((100vw - 1024px) / (1359 - 1024)))
            calc(40px + (61 - 40) * ((100vw - 1024px) / (1359 - 1024)));
    }
    @media screen and (max-width: $mobileWidth) {
        padding: 30px calc(50px + (150 - 50) * ((100vw - 320px) / (578 - 320)));
    }

    &__title {
        max-width: 150px;
        font-size: 1.2rem;
        font-weight: 600;
        padding-bottom: 7px;
        line-height: 157%;
        border-bottom: 0.745942px solid #000000;
        margin-bottom: 13px;
        @media screen and (max-width: $mobileWidth) {
            width: 310px;
        }
        @media screen and (max-width: $container) and (min-width: 1023px) {
            font-size: 0.8rem;
            max-width: 100px;
        }
    }

    // .product-cart__ava

    &__ava {
        margin: 0 auto;
        border-radius: 50%;
        max-width: 58px;
        margin-bottom: 10px;
        & img {
            width: 100%;
            border-radius: 50%;
        }
    }

    // .product-cart__name

    &__name {
        font-size: 1rem;
        margin-bottom: 20px;
    }

    // .product-cart__list-title

    &__list-title {
        font-family: "Georgia";
        font-weight: 700;
        text-align: left;
        align-self: flex-start;
        margin-bottom: 20px;
        @media screen and (max-width: $container) and (min-width: 1023px) {
            font-size: 1rem;
        }
    }

    // .product-cart__list

    &__list {
        align-self: flex-start;
        text-align: left;
        & li {
            list-style-type: disc;
            @media screen and (max-width: $container) and (min-width: 1023px) {
                font-size: 1rem;
            }
        }
        & li:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}
.product-description {
    // .product-description__header

    &__header {
        font-weight: 600;
        font-size: 1.5625rem;
        line-height: 157%;
        margin-bottom: 18px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(5px + (18 - 5) * ((100vw - 320px) / (1359 - 320)));
        }
    }

    // .product-description__title

    &__title {
        max-width: 584px;
        @media screen and (max-width: 1024px) {
            max-width: 100%;
        }
        h3 {
            font-family: "Georgia";
            font-weight: 700;
            font-size: 3.125rem;
            color: $mainGreen;
            line-height: 157%;
        }
        margin-bottom: 30px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(5px + (30 - 5) * ((100vw - 320px) / (1359 - 320)));
        }
    }

    // .product-description__text

    &__text {
        max-width: 530px;
        line-height: 31px;
        margin-bottom: 40px;
        @media screen and (max-width: 1024px) {
            max-width: 100%;
        }
        @media screen and (max-width: $container) {
            margin-bottom: calc(15px + (40 - 15) * ((100vw - 320px) / (1359 - 320)));
        }
    }
}

//Footer

.footer {
    // .footer__container
    background-color: $bgGreen;
    padding: 120px 225px;
    @media screen and (max-width: $container) {
        padding: calc(10px + (120 - 10) * ((100vw - 1024px) / (1359 - 1024)))
            calc(20px + (225 - 20) * ((100vw - 1024px) / (1359 - 1024)));
    }
    &__container {
        display: flex;
        flex-direction: column;
    }

    // .footer__logo

    &__logo {
        font-style: "Avenir";
        font-size: 2.5rem;
        color: white;
        line-height: 55px;
        font-weight: 900;
        margin-bottom: 60px;
        @media screen and (max-width: $container) {
            margin-bottom: calc(15px + (60 - 15) * ((100vw - 320px) / (1359 - 320)));
        }
    }

    // .footer__list

    &__list {
        & ul li {
            font-weight: 600;
            font-size: 1.5625rem;
            line-height: 30px;
            color: white;
            &:not(:last-child) {
                margin-bottom: 60px;
                @media screen and (max-width: $container) {
                    margin-bottom: calc(15px + (60 - 15) * ((100vw - 320px) / (1359 - 320)));
                }
            }
        }
    }
}
